name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the rep
        uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup

      - name: Lint
        run: pnpm run lint
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the rep
        uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup

      - name: Format
        run: pnpm run format-check
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the rep
        uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup

      - name: Typecheck
        run: pnpm run type-check